.bracket {
    display: flex;
    flex-direction: row;
}

.round {
    background: #ededed;
    margin: 10px;
    padding: 5px;
}

.match {
    background: #c8c8c8;
    margin: 10px;
    padding: 5px;
}

.song {
    background: #7a7a7a;
    margin: 10px;
    padding: 5px;
}

.song.winner {
    background: #4bb543;
}

.winner {
    background: #ede600;
    margin: 10px;
    padding: 5px;
}
